html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: white;
}

#header-signup {
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  height: 80px;
  text-transform: uppercase;
  font-family: "Old Standard TT", serif;
}

#signup-h1 {
  font-size: 16px;
}

.nav-links {
  justify-self: flex-end;
  margin: 10px;
  color: #945e00;
}

.nav-links:hover {
  color: #ba7806;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.logo-container {
  margin-right: auto;
}

.logo-header {
  font-size: 20px;
  text-decoration: none;
  color: #0f6305;
  margin: 10px;
}

.logo-header:hover {
  color: #38a12b;
}

footer {
  font-size: 15px;
  color: black;
  position: absolute;
  bottom: 0px;
  text-align: right;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  height: 2rem;
}

h3 {
  font-size: 21px;
}

.signcard {
  margin-top: 70px;
}
.card-header {
  background-color: #42692d;

  color: white;
}

#signupbtn {
  background-color: #42692d;

  width: 260px;
}

#signupbtn:hover {
  background-color: #2d4a1e;
}

.card-body {
  background: rgb(255, 255, 255);
}

.form-group {
  color: black;
}
