html,
body {
  width: 100%;
  padding: 0px;
  height: 100%;
  align-content: center;
}
Modal.Dialog {
  /*Position and width*/
  position: fixed;
  width: 30%;
  height: fit-content;

  /*NOTE: If you want your modal's position to be absolute or fixed, you should also include:*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /*Centering horizintally*/
  margin: auto;

  /*Purely visual stuff*/
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: ghostwhite;
  text-align: center;
}
.navbar {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: white;
}

.nav-links {
  justify-self: flex-end;
  margin: 10px;
  color: #945e00;
}

.nav-links:hover {
  color: #ba7806;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.logo-container {
  margin-right: auto;
}

.logo-header {
  font-size: 20px;
  text-decoration: none;
  color: #0f6305;
  margin: 10px;
}

.logo-header:hover {
  color: #38a12b;
}

.discover {
  color: #033b1f;
  font-size: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #033b1f;
}

.subtitle {
  color: #033b1f;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #d99100;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}
.search-container {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.searchButton {
  width: 45px;
  height: 36px;
  border: 1px solid #d99100;
  background: #d99100;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

footer {
  font-size: 15px;
  color: black;
  position: absolute;
  bottom: 0px;
  text-align: right;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  height: 2rem;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #da9501;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d68800;
}
::-webkit-scrollbar-thumb:active {
  background: #b87400;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
