.cal {
  background-color: white;
}
.fc .fc-button:not(:disabled) {
  background-color: #42692d;
  cursor: pointer;
}

.fc-v-event .fc-event-time {
  color: white;
}
.fc-v-event .fc-event-title {
  color: white;
}

.fc .fc-col-header-cell-cushion {
  color: black;
}

.fc .fc-toolbar-title {
  font-size: 1.75em;
  margin-left: 25px;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 25px;
}

#appt-heading {
  width: 100%;
  background-color: white;
}

h1 {
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
}

.form-events {
  background-color: white;
  display: inline-flex;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-group-appt {
  margin-left: 5px;
  margin-right: 5px;
  width: 600px;
}

.form-group-appt-2 {
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
}

.add-event-btn {
  width: 100px;
  margin-top: 35px;
}

.create-appt {
  background-color: white;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.header-appt {
  padding-bottom: 0px;
  margin-bottom: 10px;
  font-family: "Old Standard TT", serif;
  text-transform: uppercase;
  font-size: 24px;
}
