html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  background-image: url(./images/bg5.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-header {
  display: inline-block;
  width: 100%;
  margin-top: 0;
}

.modal-body {
  padding: 30px;
}

Modal {
  overflow-x: hidden;
}

.close-btn {
  float: right;
  width: 30px;
  height: 30px;
}

#cont {
  padding: 5px;
  margin: 25px;
}

.housing-img-2 {
  padding: 10px;
}

.modal-header {
  width: 100%;
  border-bottom: none;
}
.house-full {
  background-color: rgba(242, 218, 201, 1);
  background-blend-mode: lighten;
  padding: 10px;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: white;
}

.nav-links {
  justify-self: flex-end;
  margin: 10px;
  color: #945e00;
}

.nav-links:hover {
  color: #ba7806;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.logo-container {
  margin-right: auto;
}

.logo-header {
  font-size: 20px;
  text-decoration: none;
  color: #0f6305;
  margin: 10px;
}

.logo-header:hover {
  color: #38a12b;
}
footer {
  font-size: 15px;
  color: black;
  position: absolute;
  bottom: 0px;
  text-align: right;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  height: 2rem;
}

.other-footer {
  font-size: 15px;
  color: black;
  position: relative;
  bottom: 0px;
  text-align: right;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  height: 2rem;
}

.container {
  display: flex;
}

.list-group-item {
  width: 30%;
  float: right;
}

.page-link {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 10px;
  text-decoration: none;
  width: 45px;
  height: 35px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  margin-bottom: 5px;
}
.page-link:hover {
  background-color: #8fa995;
  color: white;
}

.page-link:focus {
  background-color: #8fa995;
  border: 0;
  outline: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.pag {
  width: 100%;
  float: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.click {
  background: rgba(143, 169, 149, 0.85);
  font-size: 30px;
  border: none;
  outline: none;
  width: 325px;
  height: 325px;
}

.click:hover {
  border: 1px;
  background: rgb(143, 169, 149);
  background: rgba(143, 169, 149, 0.85);
  border-style: solid;
  border-color: white;
}

.pagination {
  text-align: center;
  float: center;
  align-content: center;
  justify-content: center;
  margin: 0;
}

.container-card {
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  margin: 10px;
  height: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.moreinfo {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin: 5px;
  height: 325px;
  overflow: hidden;
  background: rgb(143, 169, 149);
  color: white;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

.Container {
  width: 100%;
}

.rendered {
  padding-top: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  float: center;
}

.card-header-1 {
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  font-size: 17px;
  padding-top: 15px;
  padding-left: 15px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.85);
  padding-right: 15px;
  height: 85px;
}

.whole-card {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.85);
}
#card-body-1 {
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0);
}

.housing-img {
  padding: 0;
}

.inner {
  position: relative;
}

.dropdown {
  display: inline-block;
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}

.filter-btn {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 14px;
  text-decoration: none;
  height: 35px;
  margin-bottom: 5px;
  border: 0;
  outline: none;
  width: 100%;
}

.filter-btn:hover {
  background-color: #8fa995;
  color: white;
  border: 0;
  outline: none;
}

.filter-btn:focus {
  background-color: #8fa995;
  border: 0;
  outline: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#dropdown-btn {
  width: 180px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 15px;
  text-decoration: none;
  height: 35px;
  margin-bottom: 5px;

  outline: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #d99100;
}

#dropdown-btn:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #b07600;
}

.filters {
  display: inline;
}

#search-2 {
  width: 72%;
  float: center;
}

.filter-btn:focus {
  border: 0;
  outline: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#dropdown-btn-menu {
  width: 55px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 15px;
  text-decoration: none;
  height: 40px;
  outline: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #d99100;
  align-content: center;
}

#dropdown-btn-menu:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #b07600;
}

.menu-btn {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 14px;
  text-decoration: none;
  height: 35px;
  margin-bottom: 5px;
  border: 0;
  outline: none;
  width: 100%;
}

.menu-btn:hover {
  background-color: #945e00;
  color: white;
  border: 0;
  outline: none;
}

.menu-btn:focus {
  background-color: #945e00;
  border: 0;
  outline: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
